<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/commonhead %>
</head>

<body>
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <% include partials/headermobile %>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <% include partials/sidebar %>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <% include partials/headerdesktop %>
      <!-- HEADER DESKTOP-->

      <!-- MAIN CONTENT-->
      <div class="main-content">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="overview-wrap">
                  <h2 class="title-1">Change Password</h2>
                </div>
              </div>
            </div>
            <% include partials/messages %>
            <div class="row m-t-25">
              <div class="col-12 col-lg-8">
                <form action="/admin/changepassword" method="post" class="form-horizontal">
                  <div class="card">
                    <div class="card-header">
                      Change Password
                    </div>
                    <div class="card-body card-block">
                      <div class="row form-group">
                        <div class="col col-md-4">
                          <label for="oldpassword" class=" form-control-label">Old Password</label>
                        </div>
                        <input type="text" name="userid" class="d-none" value="<%= user._id %>">
                        <div class="col-12 col-md-8">
                          <input type="password" name="oldpassword" class="form-control" 
                            required>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col col-md-4">
                          <label for="newpassword" class=" form-control-label">New Password</label>
                        </div>
                        <div class="col-12 col-md-8">
                          <input type="password" id="newpassword" name="newpassword" class="form-control"
                            required>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col col-md-4">
                          <label for="newpassword2" class=" form-control-label">Confirm New Password</label>
                        </div>
                        <div class="col-12 col-md-8">
                          <input type="password" id="newpassword2" name="newpassword2" class="form-control"
                            required>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% include partials/footer %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MAIN CONTENT-->
      <!-- END PAGE CONTAINER-->
    </div>

  </div>
  <% include partials/commonscripts %>
</body>

</html>