<nav class="navbar navbar-expand-sm navbar-light bg-white ">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.jpg" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <% if (typeof user != 'undefined') { %>
      <div class="my-2 my-lg-0 ml-auto">
        <a href="/users/logout" class="btn btn-outline-primary btn-rounded btn-sm"><i class="fas fa-user-alt-slash"></i>
          Log Out</a>
      </div>
      <% } else { %>
      <div class="my-2 my-lg-0 ml-auto">
        <button type="button" class="btn btn-outline-primary btn-rounded btn-sm btn-newguest"><i
            class="fas fa-user-plus left"></i> New</button>
        <button type="button" class="btn btn-outline-success btn-rounded btn-sm btn-regularguest"><i
            class="fas fa-user left"></i> Regular</button>
      </div>
      <% } %>
    </div>
  </div>
</nav>