<!DOCTYPE html>
<html>
  <head>
    <% include partials/commonhead %>
  </head>
  <body>
    <% include partials/header %>
    <section id="hero">
      <div class="hero-container">
        <div class="hero-overlay"></div>
        <div class="container hero-intro">
          <div class="row">
            <div class="col">
              <h1 class="text-center hero-heading h1 h1-responsive">Welcome to iNETWaivers.com</h1>
              <p class="lead text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, earum.</p>
            </div>
          </div>
          <div class="row mt-2 animated fadeIn slow">
            <div class="col text-center">
              <div class="" data-wow-delay="0.4s">
                <a class="btn btn-primary btn-rounded waves-effect waves-light"><i class="fas fa-user-plus left"></i> New Guest</a>
                <a class="btn btn-outline-white btn-rounded waves-effect waves-light"><i class="fas fa-user left"></i> Regular Guest</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/commonscripts %>
  </body>
</html>
