@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700');

html, body {
  height: 100%;
  font-family: Poppins;
}

.btn-rounded {
  border-radius: 1.425rem !important;
}

input.select-dropdown {
  color: white !important;
  font-weight: 300;
}