<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/admin" style="text-align:center;">
            <img src="/images/logo.jpg" alt="iNetwaivers"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li><a href="/admin"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a></li>
                <li><a href="/admin/guests"><i class="zmdi zmdi-male-female"></i>Guests</a></li>
                <li><a href="/admin/signedwaiverslist"><i class="zmdi zmdi-assignment-check"></i>Signed Waivers</a></li>
                <li class="has-sub"><a class="js-arrow" href="#"><i class="fas fa-user"></i> Account</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li><a href="/admin/accountsettings"><i class="zmdi zmdi-settings"></i>Account Settings</a></li>
                        <li><a href="/admin/changepassword"><i class="zmdi zmdi-account"></i>Change Password</a></li>
                        <li><a href="/admin/logout"><i class="zmdi zmdi-power"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>